ul, nav, body, h1, h2, h4, h6, p, figure {
  margin: 0;
  padding: 0;
}

h3 {
    text-align: center;
    color: #ffffff;

}


a, button { transition: all 0.3s ease; }

/* Bootstrap grid system  */

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.tm-container-inner,
.tm-container-inner-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-md-4,
.col-md-6,
.col-sm-6, 
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*
  primary: #2D99CC
  success: #319966
  danger: #993332
*/

.tm-btn {
  display: inline-block;
  font-size: 1rem;
  width: auto;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.tm-btn-default {
  border: 1px solid #61380B;
  background-color: transparent;
  color: #B404AE;
}

.tm-btn-default:hover,
.tm-btn-default:focus {
  color: white;
  background-color: #98999A;
}

.tm-btn-primary {
  background-color: #2D99CC;
  color: white;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  background-color: #1b6f96;
}

.tm-btn-success {
  background-color: #319966;
  color: white;
}

.tm-btn-success:hover,
.tm-btn-success:focus {
  background-color: #1d6e46;
}

.tm-btn-danger {
  background-color: #993332;
  color: white;
}

.tm-btn-danger:hover,
.tm-btn-danger:focus {
  background-color: #752423;
}

.tm-mb-45 {
  margin-bottom: 45px;
}

.tm-mb-p {
    margin-bottom: 20px;
}

.tm-text-success {
  color: #319966;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 17px;
  overflow-x: hidden;
}

.container {
  background-color: white;
}

p, address {
  color: #8A4B08;
  line-height: 1.8;
}

/* Set width and height in JS */
.placeholder {
  width: 100%;
  min-height: 460px;
  background-color: #556E5B;
}

.placeholder-2 {
  width: 100%;
  min-height: 220px;
  background-color: #CFBEA5;
  position: relative;
  z-index: 998;
}

.parallax-window {
  min-height: 460px;
  background: transparent;
  position: relative;
}

.parallax-window-2 {
  min-height: 220px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  position: relative;
}

.parallax-mirror {
  z-index: 999 !important;
}

.tm-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1000;
}

.tm-header-inner {
  padding: 40px 50px;
}

@media (max-width: 991px) {
  .tm-header-inner {
    padding: 30px 15px;
  }
}

.tm-site-logo {
  display: inline-block;
  margin-right: 5px;
}

.tm-site-text-box {
  display: inline-block;
}

.tm-site-title {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.tm-site-description {
  font-size: 1.1rem;
  font-weight: 400;
}

.tm-nav {
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  margin-top: 20px;
}

.tm-nav-ul {
  display: flex;
  justify-content: flex;
}

.tm-nav-li {
  text-align: center;
  list-style: none;
  margin-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
}

@media (max-width: 991px) {
  .tm-nav-li {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.tm-nav-link {
  color: #DF01D7;
  font-size: 35px;
  font-family: Edwardian Script ITC;
  text-decoration: none;
  padding-bottom: 30px;
}

.tm-nav-link.active,
.tm-nav-link:hover {
  border-bottom: 1px solid brown;
}

.tm-welcome-section {
  margin: 60px auto;
  max-width: 655px;
}

.tm-section-title {
  font-family: Edwardian Script ITC;
  font-size: 4rem;
  color: #DF01D7;
  font-weight: 400;
  margin-bottom: 30px;
}

.tm-gallery {
  margin-bottom: 80px;
}

.tm-gallery-page {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tm-gallery-description {
  font-size: 0.95rem;
}

#videos {
    margin: 0 auto;
    width: 500px;
}


.tm-section,
.tm-container-inner,
.tm-container-inner-2 {
  margin-left: auto;
  margin-right: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .tm-gallery-page {
    max-width: 560px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .tm-gallery-page,
  .tm-section,
  .tm-container-inner,
  .tm-container-inner-2 {
    max-width: 840px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .tm-gallery-page,
  .tm-section {
    max-width: 1120px;
  }
  
  .tm-container-inner {
    max-width: 1120px;
  }
  
  .tm-container-inner-2 {
    max-width: 900px;
  }
}

.tm-gallery-item {
  max-width: 280px;
}

.tm-gallery-img {
  margin-bottom: 20px;
}

.tm-gallery-title {
  font-size: 1.3rem;
  font-weight: 400;
  color: #DF01D7;
  text-align: center;
  margin-bottom: 15px;
}

.tm-gallery-description {
  margin-bottom: 20px;
}

.tm-gallery-price {
  font-size: 1.25rem;
  color: #2F956D;
  margin-bottom: 60px;
}

.tm-paging-links {
  text-align: center;
  margin-bottom: 40px;
}

.tm-paging-item {
  list-style: none;
  display: inline-block;
  border: 1px solid #61380B;
  margin: 7px;
}

.tm-paging-link {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #B404AE;
  background-color: transparent;
}

.tm-paging-link.active,
.tm-paging-link:hover {
  background-color: #61380B;
  color: white;
}

.tm-description-figure {
  text-align: center;

}

.tm-description-box {
  margin-left: auto;
  margin-right: auto;
}

.tm-description-box {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 530px;
}

@media (min-width: 768px) {
  .tm-description-box {
    padding-left: 5px;
    padding-right: 40px;
    margin-top: 0;
  }
}

.tm-right {
  align-self: flex-end;
}




/*.tm-footer {
  padding: 25px 15px;
  margin-top: 40px;
}

.tm-footer a {
  background-color: #B40486;
  color: #626364;
  text-decoration: none;
}

.tm-footer a:hover {
  color: #1A6692;
}*/

/* About */
.tm-persons {
  margin-bottom: 20px;
}

.tm-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

@media (min-width: 420px) {
  .tm-person {
    flex-direction: row;
  }
}

.tm-person-description {
  padding-left: 20px;
  padding-right: 20px;
}

.tm-person-name {
  font-size: 1.6rem;
  font-weight: 300;
  color: #09C;
  margin-bottom: 5px;
  margin-top: 15px;
}

@media (min-width: 420px) {
  .tm-person-name {
    margin-top: 0;
  }
}

.tm-person-title {
  color: #C39;
  margin-bottom: 20px;
}

.tm-person-about {
  margin-bottom: 20px;
}

.tm-social-link {
  color: #626364;
  display: inline-block;
  border-radius: 1px;
  background-color: transparent;
  font-size: 1.3rem;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin-right: 0;
  margin-bottom: 15px;
}

.tm-social-link:hover {
  color: white;
  background-color: #626364;
}

.tm-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tm-feature {
  text-align: center;
  padding: 45px 20px;
}

.tm-feature-icon {
  color: #9f9c9c;
  margin-bottom: 65px;
}

.tm-feature-description {
  margin-bottom: 35px;
  font-size: 1rem;
}

.tm-features {
  margin-top: 35px;
}

.tm-history {
  margin-top: 45px;
}

.tm-history-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tm-history-img {
  max-width: 100%;
}

@media (min-width: 768px) {
 .tm-history-img {
    max-width: 50%;
  }
  
  .tm-history-inner {
    flex-direction: row;
  }
}

.tm-history-title {
  font-size: 1.6rem;
  font-weight: 300;
  color: #1A6692;
  margin-bottom: 30px;
}

.tm-history-text {
  max-width: 480px;
  margin: 15px auto 0;
}

.tm-history-description {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
 .tm-history-text {
    max-width: auto;
    margin: 0 auto 0 35px;
  } 
}

/* Contact Page */
.tm-contact-form {
  max-width: 100%;
}

@media (min-width: 768px) {
 .tm-contact-form {
    max-width: 310px;
  } 
}

.tm-d-flex {
  display: flex;
  flex-direction: column;
}

.tm-btn-right {
  align-self: flex-end;
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #626364;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.tm-info-title {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 30px;
}

address {
  font-style: normal;
  margin-bottom: 50px;
}

.tm-address-box {
  max-width: 100%;
}

@media (min-width: 768px) {
 .tm-address-box {
    max-width: 315px;
  } 
}

.tm-contact-icon {
  display: inline-block;
  margin-right: 25px;
  color: #319966;
}

.tm-contact-link {
  display: inline-block;
  color: #626364;
  margin-bottom: 25px;
  text-decoration: none;
}

.tm-contact-social {
  margin-top: 10px;
}

.tm-map {
  max-width: 900px;
  height: 450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tm-map iframe {
  width: 100%;
  height: 100%;
}

.tm-contact-section {
  padding-bottom: 30px;
}

.tm-map-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.tm-info-section {
  padding-top: 30px;
}

.tm-faq {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.tm-accordion {
  padding-top: 40px;
}

/* https://www.w3schools.com/howto/howto_js_accordion.asp */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  font-size: 1.2rem;
  font-family: 'Open Sans', Helevetica, Arial, sans-serif;
  color: #999;
  background-color: transparent;
  border: 1px solid #d0d0d0;
  margin-bottom: 17px;
  margin-top: 17px;
  cursor: pointer;
  padding: 10px 20px 6px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
  color: #09C;
}

@keyframes changeIcon {
  0% {
    content: '\f0d9';
  }
  50% {
    color: white;
  }
  100% {
    content: "\f0d7";
  }
}

@keyframes changeIconBack {
  0% {
    content: '\f0d7';
  }
  50% {
    color: white;
  }
  100% {
    content: "\f0d9";
  }
}

.accordion:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  animation: changeIconBack 0.3s linear;
  content: '\f0d9';
  font-size: 2rem;
  color: #999;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  animation: changeIcon 0.3s linear;
  content: '\f0d7';
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  padding: 5px 20px 30px;
}

.copyright {
  color: #ffffff;
}

#paginacao {
   display: block;
   text-align: center!important;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffb3ff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #86592d;
  font-weight: bold;
  font-family: Edwardian Script ITC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #e6e6e6;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 30px;
  border: none;
  outline: none;
  color: #86592d;
  font-weight: bold;
  font-family: Edwardian Script ITC;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffb3ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #86592d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #f2f2f2;
  color: #86592d;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f2f2f2;
  color: #86592d;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}