{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>À Provençal Festas</title>
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
	<link href = "{% static 'css/templatemo-style.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src = "{% static 'img/a-provencal-marca.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">

					</div>
				</div>
			</div>
		</div>

		<div class="topnav" id="myTopnav">
			<a href="{% url 'start' %}" class="active">Início</a>
			<a href="{% url 'about' %}">Quem Somos</a>
			<div class="dropdown">
    			<button class="dropbtn">Bolos
      				<i class="fa fa-caret-down"></i>
    			</button>
    		<div class="dropdown-content">
      			<a href="{% url 'cakes' %}">Vídeos</a>
				<a href="{% url 'cakes-photo' %}">Fotos</a>
      			<a href="{% url 'partykit' %}">Kit Festa</a>
    		</div>
  		</div>
  		<a href="{% url 'candy'%}">Doces</a>
		<a href="{% url 'contact'%}">Contato</a>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Bolos - Vídeos</h2>
				<p class="col-12 text-center">Nossos bolo são completamente artesanais, utilizando materiais de primeira qualidade. Podem variar de 3 à 6 camadas e, para cada camada, um recheio a sua escolha. Utilizamos pasta americana comestível para a decoração
				dos bolos que, por sua vez, são entregues em uma caixa de acetato com a tampa em acrílico possibilitando a visibilidade do bolo mesmo embalado. Totalmente personalizado. Nossa equipe fica em contato com você durante todo o processo pra garantir sua
				total satisfação. Abaixo, alguns dos nossos trabalhos mais recentes:</p>
			</header>

			<div class="container">
  				<div class="row">
   					 <div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/dino.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/dino.mp4' %}">
							</object>
							</video>
					</div>
					<div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/roblox.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/roblox.mp4' %}">
							</object>
							</video>
					</div>
					<div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/halloween.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/candy.mp4' %}">
							</object>
							</video>
					</div>
				</div>
			</div>
					<br>
					<br>
					<br>
					<br>
			<div class="container">
  				<div class="row">
   					 <div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/patrulha.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/candy.mp4' %}">
							</object>
							</video>
					</div>
					<div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/ferrari.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/candy.mp4' %}">
							</object>
							</video>
					</div>
					<div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/pequenoprincipe.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/candy.mp4' %}">
							</object>
							</video>
					</div>
				</div>
			</div>
					<br>
					<br>
					<br>
					<br>
			<div class="container">
  				<div class="row">
   					 <div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/candy.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/candy.mp4' %}">
							</object>
							</video>
					</div>
					<div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/mickey.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/candy.mp4' %}">
							</object>
							</video>
					</div>
					<div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/cozinha.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/candy.mp4' %}">
							</object>
							</video>
					</div>
				</div>
			</div>
				<br>
				<br>
				<br>
				<br>
			<div class="container">
  				<div id="container-row-videos" class="row">
   					 <div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/cerveja.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/candy.mp4' %}">
							</object>
							</video>
					</div>
					<div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/paw.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/candy.mp4' %}">
							</object>
							</video>
					</div>
					<div class="col">
							<video width="400" height="300" controls="controls">
							<source src="{% static 'img/videobolos/junina.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="300" height="200" src="{% static 'img/videobolos/candy.mp4' %}">
							</object>
							</video>
					</div>
				</div>
			</div>
				<br>
				<br>
				<br>
				<br>
		</main>



<footer class="w3-container w3-purple w3-center w3-margin-top">
	<p class="copyright"> &copy; 2020 À Provençal Festas | Designed by: Amanda Gonçalves <a href="https://www.linkedin.com/in/amandasousagoncalves/"><i class="fa fa-linkedin-square w3-hover-opacity"></i></a>
		<br>
	<a href="https://pt-br.facebook.com/aprovencalfestas"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
	<a href="https://www.instagram.com/aprovencalfestas/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
	<a href="aprovencalfestas@gmail.com"><i class="fa fa-envelope w3-hover-opacity"></i></a>
	<a href=" https://wa.me/5521969372134?text=Olá,%20bem-%20vindo(a)%20À%20Provençal%20Festas!%20Aguarde,%20já%20já%20iremos%20atendê-lo!"><i class="fa fa-whatsapp w3-hover-opacity"></i></a>
</footer>
	</div>
	<script src = "{% static 'js/jquery.min.js' %}"></script>
	<script src = "{% static 'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>