{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>À Provençal Festas</title>
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
	<link href = "{% static 'css/templatemo-style.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src = "{% static 'img/a-provencal-marca.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">

					</div>
				</div>
			</div>
		</div>

		<div class="topnav" id="myTopnav">
			<a href="{% url 'start' %}" class="active">Início</a>
			<a href="{% url 'about' %}">Quem Somos</a>
			<div class="dropdown">
    			<button class="dropbtn">Bolos
      				<i class="fa fa-caret-down"></i>
    			</button>
    		<div class="dropdown-content">
      			<a href="{% url 'cakes' %}">Vídeos</a>
				<a href="{% url 'cakes-photo' %}">Fotos</a>
      			<a href="{% url 'partykit' %}">Kit Festa</a>
    		</div>
  		</div>
  		<a href="{% url 'candy'%}">Doces</a>
		<a href="{% url 'party'%}">Festas</a>
		<a href="{% url 'contact'%}">Contato</a>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Bem vindo, À Provençal Festas!</h2>
				<p class="col-12 text-center">Quer realizar a festa dos seus sonhos? Totalmente personalizada? Aqui é o seu lugar! Somos uma empresa familiar onde a sua satisfação é o que mais nos importa! Entre em contato conosco e <a rel="nofollow" href="{% url 'contact' %}">agende</a> sua festa ainda hoje! </p>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">Bolos</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Doces</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Festas</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-bolos" class="tm-gallery-page">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery/01.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery/01.jpg' %}">Bolo ROBLOX</a></h4>
								<p class="tm-gallery-description">Bolo com três camadas e recheios inspirado no game online Roblox!</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery/02.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery/02.jpg' %}">Bolo NUTELLA</a></h4>
								<p class="tm-gallery-description">Bolo com três camadas e recheios, pote de nutella, bicoitos, docinhos e chocolates!</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery/03.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery/03.jpg' %}">Bolo PEQUENO PRÍNCIPE</a></h4>
								<p class="tm-gallery-description">Bolo com três camadas e recheios à sua escolha, personalizado no tema O Pequeno Príncipe!</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery/04.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery/04.jpg' %}">Bolo HALLOWEEN</a></h4>
								<p class="tm-gallery-description">Bolo com três camadas e recheios à sua escolha, feito especialmente para a data de Halloween!</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery/05.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery/05.jpg' %}">Bolo BALDE DE GELO</a></h4>
								<p class="tm-gallery-description">Bolo com três camadas e recheios à sua escolha, envolto com kit kat e, para simular o gelo, gelatina saborosa e incolor.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery/06.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery/06.jpg' %}">Bolo FERRARI</a></h4>
								<p class="tm-gallery-description">Bolo com três camadas e recheios à sua escolha, personalizado com o tema Fórmula 1!</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery/07.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery/07.jpg' %}">Bolo HELLO KITTY</a></h4>
								<p class="tm-gallery-description">Bolo com três camadas e recheios à sua escolha, personalizado com o tema Hello Kitty!</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery/08.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery/08.jpg' %}">Bolo VIDEO GAME</a></h4>
								<p class="tm-gallery-description">Bolo com três camadas e recheios à sua escolha, com bombons de chocolate simulando controles de videogame e muito.. MUITO chocolate!</p>							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 1 -->
				
				<!-- gallery page 2 -->
				<div id="tm-gallery-page-doces" class="tm-gallery-page hidden">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-2/01.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-2/01.jpg' %}">Cupcake - Mickey Safari</a></h4>
								<p class="tm-gallery-description">Cupcakes totalmente personalizados de baunilha, recheados com doce de leite e coco, cobertos com pasta americana comestível.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-2/02.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-2/02.jpg' %}">Bombons - Mickey Safari</a></h4>
								<p class="tm-gallery-description">Bombons de chocolate belga recheados de brigadeiro trufado e morangos.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-2/03.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-2/03.jpg' %}">Brownie de Chocolate Personalizado</a></h4>
								<p class="tm-gallery-description">Pirulitos de chocolate belga com recheio de brownie com doce de leite.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-2/04.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-2/04.jpg' %}">Pirulitos de Chocolate Personalizados</a></h4>
								<p class="tm-gallery-description">Pirulitos de chocolate belga totalmente personalizados de acordo com o tema da sua festa.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-2/05.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-2/05.jpg' %}">Cupcakes - Ferrari</a></h4>
								<p class="tm-gallery-description">Cupcakes recheados de brigadeiro trufado e personalizados de acordo com o tema da sua festa.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-2/06.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-2/06.jpg' %}">Bombons - Galinha Pintadinha</a></h4>
								<p class="tm-gallery-description">Bombom de chocolate belga branco recheados de Brownie com brigadeiro e personalizado com pasta americana cosmestível.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-2/07.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-2/07.jpg' %}">Bombons - Rosas</a></h4>
								<p class="tm-gallery-description">Mini trufas feitas de chocolate belga e recheadas com geléia de morango caseira.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-2/08.jpg' %}" alt="Image" class="img-fluid tm-gallery-img"/>
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-2/08.jpg' %}">Brownie - Homem Aranha</a></h4>
								<p class="tm-gallery-description">Brownie de chocolate belga com recheio de doce de leite, personalizado de acordo com o tema da sua festa.</p>
							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 2 -->
				
				<!-- gallery page 3 -->
				<div id="tm-gallery-page-festas" class="tm-gallery-page hidden">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-3/01.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-3/01.jpg' %}">O Pequeno Príncipe</a></h4>
								<p class="tm-gallery-description">Linda decoração completa com cilindro, painel rendondo e arco de bolas desconstruído, de acordo com o tema. Além dos doces, é claro! .</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-3/02.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-3/02.jpg' %}">Branca de Neve</a></h4>
								<p class="tm-gallery-description">E para uma princesa... só mesmo outra princesa! Branca de neve e os sete anões! Decoração completa e personalizada.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-3/03.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-3/03.jpg' %}">Marinheiro</a></h4>
								<p class="tm-gallery-description">Decoração muito fofa e toda personalizada, com muita atenção em todos os detalhes para um bebê que chegará em breve!</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-3/04.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-3/04.jpg' %}">Homem-aranha</a></h4>
								<p class="tm-gallery-description">Uma decoração toda pensada nos mínimos detalhes com bolo, doces, bombons e pirulitos personalizados.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-3/05.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-3/05.jpg' %}">Unicórnio</a></h4>
								<p class="tm-gallery-description">Um sonho para as meninas de plantão! Tudo em tom pastel e muuuita delicadeza em todos os detalhes!</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-3/06.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-3/06.jpg' %}">Batizado - Princesa</a></h4>
								<p class="tm-gallery-description">É fofura que fala, né?! Muito capricho e gostosuras nessa decoração!</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-3/07.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-3/07.jpg' %}">Mario Bross</a></h4>
								<p class="tm-gallery-description">Quem aí gosta de um game? Super Mario Bross encantando em uma pesa super gamer!</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src = "{% static 'img/gallery-3/08.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% static 'img/gallery-3/08.jpg' %}">Bebê Mustache</a></h4>
								<p class="tm-gallery-description">O bigodinho mais famoso do mundo virou tema desta linda decoração para chá de bebê, com charutos de chocolate belga , cupcakes... um doce mais gostoso que o outro!</p>
							</figcaption>						</figure>
					</article>

				</div> <!-- gallery page 3 -->
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<video width="500" height="400" controls="controls">
							<source src="{% static 'img/galinha.mp4' %}" type="video/mp4">
							<object data="" width="320" height="240">
							<embed width="320" height="240" src="{% static 'img/IMG_9072.MOV' %}">
							</object>
							</video>
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box">
							<br><br>
							<h4 class="tm-gallery-title">À Provençal Festas</h4>
							<p class="tm-mb-45"> Conheça mais sobre nossa empresa clicando no link abaixo ou entrando em contato com um de nossos atendentes para maiores dúvidas ou orçamentos. Aqui, o cliente vem em primeiro lugar! Siga nossas redes sociais para acompanhar mais de pertinho nosso trabalho!</p>
							<a href="{% url 'about' %}" class="tm-btn tm-btn-default tm-right">Quem Somos</a>
						</div>
					</div>
				</div>
			</div>
		</main>
<footer class="w3-container w3-purple w3-center w3-margin-top">
	<p class="copyright"> &copy; 2020 À Provençal Festas | Designed by: Amanda Gonçalves <a href="https://www.linkedin.com/in/amandasousagoncalves/"><i class="fa fa-linkedin-square w3-hover-opacity"></i></a>
		<br>
	<a href="https://pt-br.facebook.com/aprovencalfestas"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
	<a href="https://www.instagram.com/aprovencalfestas/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
	<a href="aprovencalfestas@gmail.com"><i class="fa fa-envelope w3-hover-opacity"></i></a>
	<a href=" https://wa.me/5521969372134?text=Olá,%20bem-%20vindo(a)%20À%20Provençal%20Festas!%20Aguarde,%20já%20já%20iremos%20atendê-lo!"><i class="fa fa-whatsapp w3-hover-opacity"></i></a>
</footer>
	</div>
	<script src = "{% static 'js/jquery.min.js' %}"></script>
	<script src = "{% static 'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>