{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>À Provençal Festas</title>
	<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
	<link href = "{% static 'css/templatemo-style.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src = "{% static 'img/a-provencal-marca.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">

					</div>
				</div>
			</div>
		</div>

		<div class="topnav" id="myTopnav">
			<a href="{% url 'start' %}" class="active">Início</a>
			<a href="{% url 'about' %}">Quem Somos</a>
			<div class="dropdown">
    			<button class="dropbtn">Bolos
      				<i class="fa fa-caret-down"></i>
    			</button>
    		<div class="dropdown-content">
      			<a href="{% url 'cakes' %}">Vídeos</a>
				<a href="{% url 'cakes-photo' %}">Fotos</a>
      			<a href="{% url 'partykit' %}">Kit Festa</a>
    		</div>
  		</div>
  		<a href="{% url 'candy'%}">Doces</a>
		<a href="{% url 'party'%}">Festas</a>
		<a href="{% url 'contact'%}">Contato</a>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

		<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Venha fazer sua festa com a gente!</h2>
				<p class="col-12 text-center">Quer realizar a festa dos seus sonhos? Totalmente personalizada? Aqui é o seu lugar! Somos uma empresa familiar onde a sua satisfação é o que mais nos importa! Entre em contato conosco e <a rel="nofollow" href="{% url 'contact' %}">agende</a> sua festa ainda hoje! </p>
			</header>

		<main>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/brancadeneve.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/brancadeneve.jpg' %}">Festa - Branca de Neve</a></h4>
						</figure>
					</div>
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/toystory.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/toystory.jpg' %}">Festa - Toy Story</a></h4>
						</figure>
					</div>
				</div>
			</div>
			<br><br>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/surfista.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/surfista.jpg' %}">Chá de bebê - O Surfistinha</a></h4>
						</figure>
					</div>
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/petz.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/petz.jpg' %}">Festa - Pets</a></h4>
						</figure>
					</div>
				</div>
			</div>
			<br><br>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/cha-de-bebe.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/cha-de-bebe.jpg' %}">Chá de bebê - Aviãozinho</a></h4>
						</figure>
					</div>
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/coca.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/cha-de-bebe.jpg' %}">Festa - Coca-Cola</a></h4>
						</figure>
					</div>
				</div>
			</div>
			<br><br>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/moana.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/moana.jpg' %}">Festa - Moana</a></h4>
						</figure>
					</div>
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/mario.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/moana.jpg' %}">Festa - Mario Bross</a></h4>
						</figure>
					</div>
				</div>
			</div>
			<br><br>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/pequenoprincipe.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/pequenoprincipe.jpg' %}">Festa - O Pequeno Príncipe</a></h4>
						</figure>
					</div>
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/spiderman.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/spiderman.jpg' %}">Festa - O Homem Aranha</a></h4>
						</figure>
					</div>
				</div>
			</div>
			<br><br>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/unicornio.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/unicornio.jpg' %}">Festa - Unicórnio Colorido</a></h4>
						</figure>
					</div>
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src = "{% static 'img/party/ursinho.jpg' %}" alt="Image"  width="500" height="400"/>
							<h4 class="tm-gallery-title"><a href="{% static 'img/party/ursinho.jpg' %}">Festa - Ursinho.</a></h4>
						</figure>
					</div>
				</div>
			</div>
			<br><br>





		</main>
<footer class="w3-container w3-purple w3-center w3-margin-top">
	<p class="copyright"> &copy; 2020 À Provençal Festas | Designed by: Amanda Gonçalves <a href="https://www.linkedin.com/in/amandasousagoncalves/"><i class="fa fa-linkedin-square w3-hover-opacity"></i></a>
		<br>
	<a href="https://pt-br.facebook.com/aprovencalfestas"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
	<a href="https://www.instagram.com/aprovencalfestas/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
	<a href="aprovencalfestas@gmail.com"><i class="fa fa-envelope w3-hover-opacity"></i></a>
	<a href=" https://wa.me/5521969372134?text=Olá,%20bem-%20vindo(a)%20À%20Provençal%20Festas!%20Aguarde,%20já%20já%20iremos%20atendê-lo!"><i class="fa fa-whatsapp w3-hover-opacity"></i></a>
</footer>
	</div>
	<script src = "{% static 'js/jquery.min.js' %}"></script>
	<script src = "{% static 'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>